<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<script type="text/javascript" charset="utf-8">
  var movies = [
    {
      "Title":"The Night Listener",
      "Year":"2006",
      "Rated":"R",
      "Released":"4 Aug 2006",
      "Runtime":"91 min",
      "Genre":"Crime, Mystery, Thriller",
      "Director":"Patrick Stettner",
      "Writer":"Armistead Maupin (screenplay), Terry Anderson (screenplay), Patrick Stettner (screenplay), Armistead Maupin (novel)",
      "Actors":"Robin Williams, Toni Collette, Joe Morton, Bobby Cannavale",
      "Plot":"In the midst of his crumbling relationship, a radio show host begins speaking to his biggest fan, a young boy, via the telephone. But when questions about the boy's identity come up, the host's life is thrown into chaos.",
      "Language":"English",
      "Country":"USA",
      "Awards":"2 nominations.",
      "Poster":"http://ia.media-imdb.com/images/M/MV5BMTI0MzM0NjkzMF5BMl5BanBnXkFtZTcwMDA0MTkzMQ@@._V1_SX300.jpg",
      "Metascore":"51",
      "imdbRating":"5.9",
      "imdbVotes":"12,375",
      "imdbID":"tt0448075",
      "Type":"movie",
      "Response":"True"}
  ]
</script>

<script src='js/models.js'></script>
<script src='js/collections.js'></script>
<script src='js/views.js'></script>
<script src='js/controllers.js'></script>
<script src='js/routes.js'></script>
  </body>
</html>
