<div id="app">
<script type='text/template' id='movie-full-template'>
  <h3> <%= movie.get('Title') %> </h3>
  <img class='movie--full' src='<%= movie.get("Poster") %>' alt=''/>
</script>  
</div>
