<div>
  <div>
    <h1>Profile page</h1>
    <a href="/logout"> Logout</a>
  </div>
  <div>
    <h3>Local</h3>
    <p><strong> ID: </strong> {{user._id}}</p>
    <p><strong> Email: </strong> {{user.local.email}}</p>
  </div>
</div>  
